<ion-header>
  <ion-navbar>
    <ion-title>
      班费明细
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="card"></div>
  <ion-card>
    <ion-card-content text-center>
      <h2>1701班费明细</h2>
      <span class="total">总记录数：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{billCount}}&nbsp;条</span>
      <span class="total">剩余总金额：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{total}}&nbsp;元</span>
      <span>项目简介：</span>
      <ion-icon name="logo-github"></ion-icon>
      <a href="//www.baidu.com">github地址</a>
      <button *ngIf="isLogin" (click)="logout()">注销登入</button>
      <ion-searchbar class="search" placeholder="按标题搜索" [(ngModel)]="keyword" (keyup)="search($event)">
      </ion-searchbar>
    </ion-card-content>
  </ion-card>

  <div class="bill-list">
    <ion-item>
      <ion-label>账单列表：</ion-label>
      <ion-select interface="popover" [(ngModel)]="orderby"  (ngModelChange)="doOrderby()">
        <ion-option value="0">按时间排序</ion-option>
        <ion-option value="1">按金额排序</ion-option>
      </ion-select>
      <ion-select interface="popover" [(ngModel)]="desc"  (ngModelChange)="doOrderby()">
        <ion-option value="0">降序</ion-option>
        <ion-option value="1">升序</ion-option>
      </ion-select>
    </ion-item>
  </div>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="下拉刷新"
                           refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="add">
    <button ion-button class="add-btn" (click)="toAddPage()">
      <span>+</span>
    </button>

  </div>

  <div *ngFor="let bill of bills">
    <ion-card text-center [ngClass]="setClass(bill.type)">
      <ion-card-title>
        {{bill.title}}
      </ion-card-title>
      <ion-card-content no-padding class="bill-info">
        <ion-row>
          <span>方式：{{ bill.type|type }}</span>
        </ion-row>
        <ion-row>
          <span>操作金额：{{bill.money}}元</span>
        </ion-row>
        <ion-row>
          <span>操作时间：{{bill.time|date: "y-MM-dd HH:mm"}}</span>
        </ion-row>
        <ion-row>
          <span>操作人：{{bill.name}}</span>
        </ion-row>
        <ion-row>
          <span>剩余金额：{{bill.restMoney}}元</span>
        </ion-row>
          <button ion-button clear small icon-start (click)="toDetailPage(bill.billId)">
            <ion-icon name='share-alt'></ion-icon>
            查看详情
          </button>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
